<apex:component >

 

<apex:attribute name="url"
	description="Url"
	type="String"
	required="true"/>
<apex:attribute name="label"
	description="Label"
	type="String"
	required="true"/>


	
<div class="myBreadcrumb">
 	«
	<a href="{!url}">{!label}</a>
</div>
	
<style>
.myBreadcrumb {
	font-family: 'Verdana', 'Geneva', 'sans-serif';
	font-size: 91.3%;
	margin-bottom: 15px;
}
.myBreadcrumb a {
	text-decoration: none;
	color: #015BA7;
}
.bPageTitle {
	margin-bottom: 3px !important;
}
</style>

</apex:component>